.demo {
  max-width: 600px;

  h1 {
    font-size: 52px;
    font-weight: 600;
  }

  p {
    font-size: 18px;
    color: var(--demo-color);
    margin-bottom: 20px;
  }

  .actions {
    button {
      padding: 16px 24px;
    }

    .btn-margin {
      margin-left: 10px;
    }
  }
}
