.title {
  text-align: center;
  max-width: 39%;
  margin: 96px auto 40px;

  @media screen and (max-width: 900px) {
    max-width: 80%;
  }

  &__dot {
    display: block;
    width: 8px;
    height: 8px;
    background-color: var(--orange);
    border-radius: 50%;
    margin: 0 auto 10px;
  }

  h2 {
    font-size: 40px;
    font-weight: 600;
    margin: unset;
    color: var(--title-color);
  }

  p {
    font-size: 14px;
    color: var(--subtitle);
  }
}
