<section class="top-section">
  <div class="img-girl"></div>
  <app-header></app-header>

  <div class="container">
    <div class="container_position">
      <app-content></app-content>

      <div class="container_feature-list">
        <app-chips [featureList]="featureList"></app-chips>
      </div>
    </div>
  </div>
  <div class="blur"></div>

</section>
<section class="features">
  <app-features-title></app-features-title>

  <app-features></app-features>

  <app-products-card></app-products-card>
</section>
