:host {
  width: 100%;
}

.small-cards {
  display: flex;
  gap: 28px;
  width: 100%;

  @media screen and (max-width: 1288px) {
    flex-direction: column;
    align-items: center;
  }

  .small-card {
    width: 50%;
    height: 450px;

    @media screen and (max-width: 651px) {
      width: 80vw;
    }

    mat-card-content {
      height: 100%;
      width: 300px;
      margin: 0 auto;
      text-align: center;

      @media screen and (max-width: 470px) {
        overflow: hidden;
      }


      mat-icon {
        height: 249px;
        margin-top: 43px;
      }

      .title {
        font-weight: 600;
        font-size: 21px;
        color: var(--title-color);
        margin-bottom: 4px;
      }

      .sub-title {
        font-weight: 400;
        font-size: 14px;
        color: var(--subtitle);
      }
    }
  }

  .saas {
    background-image: url("../../../../../public/assets/cloud_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: var(--background-color);

    .cloud {
      width: 188.25px;
    }
  }

  .tisane {
    background-image: url("../../../../../public/assets/circles.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    background-color: var(--background-color);

    .dots_db {
      width: 152px;
      height: 306px;
    }
  }
}
