:root {
  --header-gradient: linear-gradient(to right, #ffffff, #f7f7f7);
  --navigate-gradient: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(200, 200, 200, 0.8));
  --demo-color: #555;
  --feature-background: #CECECE33;
  --orange: #ff6600;
  --black: #000;
  --title-color: #333333;
  --subtitle: #706F6D;
  --background-color: #f7f7f7;
  --card-title-color: #111114;
  --placeholder-text: #FF0000;
  --second-background: #050505;
  --second-color: #ffffff;
}
