.feature-list {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 20%;
  padding-bottom: 64px;
}

.feature-item {
  background: var(--feature-background);
  padding: 8px;
  border-radius: 10px;
  font-size: 14px;
  color: var(--title-color);

  &::before {
    color: transparent;
    font-size: 20px;
    margin-right: 8px;
    vertical-align: baseline;
  }

  &.orange::before {
    content: '●';
    color: var(--orange);
  }

  &.black::before {
    content: '●';
    color: var(--black);
  }
}
