<div class="products-cards">
  <mat-card class="small-card first-card">
    <mat-card-title>Products</mat-card-title>
    <mat-card-content class="product">
      <span class="product_text">PLACEHOLDER</span>
    </mat-card-content>
    <mat-card-actions>
      <button class="btn btn-silver-border">Learn More</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="small-card second-card black-girl">
    <mat-card-title>
      Questions?<br> Or schedule a demo?
      <span>Reach out to a member of our team.</span>
    </mat-card-title>
    <mat-card-actions>
      <button class="btn">Learn More</button>
    </mat-card-actions>
  </mat-card>
</div>
