:host {
  width: 100%;

  @media screen and (max-width: 470px) {
    width: 80vw;
  }
}

.large-card {
  width: 100%;
  padding: 47px 45px;
  background: var(--background-color);
  border-radius: 16px;
  height: 358px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  mat-card-header {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--title-color);
    padding: unset;


    .circle-icon {
      width: 20px;
      margin-right: 8px;
      margin-bottom: 2px;
    }
  }

  mat-card-content {
    padding: 0;

    h3 {
      max-width: 400px;
      font-size: 52px;
      font-weight: 600;
      color: var(--title-color);
      margin: 0 0 16px;
      line-height: 50px;

      @media screen and (max-width: 450px) {
        font-size: 20px;
        line-height: inherit;
      }
    }

    p {
      color: var(--subtitle);
    }
  }

  .dots-pattern {
    position: absolute;
    top: 50px;
    right: 78px;
    width: 225px;
    height: 225px;

    @media screen and (max-width: 804px) {
      right: 20px;
      top: 20px;
      width: 100px;
      height: 100px;
    }

    @media screen and (max-width: 450px) {
      width: 50px;
      height: 50px;
    }

    .dots {
      width: 216px;
      height: 263px;

      @media screen and (max-width: 804px) {
        width: 100px;
        height: 100px;
      }

      @media screen and (max-width: 450px) {
        width: 50px;
        height: 50px;
      }
    }
  }
}
